body
{
  font-family: sans-serif;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: .9em;
}

#stats
{
  background-color: white;
  padding: 5px;
  border-color: #407bae;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 240px;
  overflow-y: scroll;
}

#miniMap
{
  background-color: white;
  padding: 5px;
  border-color: #407bae;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 270px;
  left: 10px;
  width: 200px;
  height: 240px;
}

#info
{
  background-color: white;
  border-color: #4c86bc;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  overflow-y: scroll;
  top: 420px;
  left: 230px;
  padding: 5px;
  width: 390px;
  height: 90px;
}

#equipment
{
  background-color: white;
  padding: 5px;
  border-color: #407bae;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 270px;
  left: 640px;
  width: 200px;
  height: 240px;
}

#items
{
  border-color: #407bae;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  top: 10px;
  left: 640px;
  width: 210px;
  height: 225px;
}

.button
{
  text-align: center;
  border-color: #407bae;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  padding: 5px;
}

.button:hover
{
  background-color: #a2c4dd;
}

#innText
{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 140px;
  height: 105px;
}

#innStay
{
  position: absolute;
  bottom: 0px;
  left: 3px;
  width: 50px;
  height: 15px;
}

#innLeave
{
  position: absolute;
  bottom: 0px;
  right: 3px;
  width: 50px;
  height: 15px;
}

#alertText
{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 63px;
  width: 290px;
  text-align: center;
  line-height: 63px;
}

#alertOK
{
  position: absolute;
  top: 68px;
  left: 233px;
  width: 50px;
  height: 15px;
}

#confirmQuestion
{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 63px;
  width: 290px;
  text-align: center;
  line-height: 63px;
}

#confirmYes
{
  position: absolute;
  top: 68px;
  left: 163px;
  width: 50px;
  height: 15px;
}

#confirmNo
{
  position: absolute;
  top: 68px;
  left: 233px;
  width: 50px;
  height: 15px;
}

#useItem
{
  position: absolute;
  top: 240px;
  left: 645px;
  width: 50px;
  height: 15px;
}

#equipItem
{
  position: absolute;
  top: 240px;
  left: 715px;
  width: 50px;
  height: 15px;
}

#dropItem
{
  position: absolute;
  top: 240px;
  left: 785px;
  width: 50px;
  height: 15px;
}

#battleItemBox
{
  border: black 1px solid;
  padding: 5px;
  background-color: white;
  position: absolute;
  top: 95px;
  left: 315px;
  width: 230px;
  height: 230px;
}

#battleItems
{
  border: black 1px solid;
  padding: 5px;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  width:230px;
  height:190px;
}

#battleItemsUse
{
  position: absolute;
  top: 205px;
  left: 25px;
  width: 70px;
  height: 15px;
}

#battleItemsCancel
{
  position: absolute;
  top: 205px;
  left: 135px;
  width: 70px;
  height: 15px;
}

#battleBox
{
  border: black 1px solid;
  padding: 5px;
  background-color: white;
  position: absolute;
  top: 85px;
  left: 305px;
  width: 250px;
  height: 250px;
}

#battleInfo
{
  border: black 1px solid;
  padding: 5px;
  background-color: white;
  position: absolute;
  top: 130px;
  left: 5px;
  width: 240px;
  height: 45px;
  overflow-y: scroll;
}

#battleAttack
{
  position: absolute;
  top: 195px;
  left: 5px;
  width: 70px;
  height: 15px;
}

#battleDefend
{
  position: absolute;
  top: 195px;
  left: 90px;
  width: 70px;
  height: 15;
}

#battleEqpt
{
  position: absolute;
  top: 195px;
  left: 175px;
  width: 70px;
  height: 15;
}

#battleSpell
{
  position: absolute;
  top: 227px;
  left: 5px;
  width: 70px;
  height: 15px;
}

#battleItem
{
  position: absolute;
  top: 227px;
  left: 90px;
  width: 70px;
  height: 15px;
}

#battleRun
{
  position: absolute;
  top: 227px;
  left: 175px;
  width: 70px;
  height: 15px;
}

#enemyName
{
  position: absolute;
  top: 5px;
  left: 5px;
}

#enemyHP
{
  position: absolute;
  top: 30px;
  left: 5px;
}

#heroName
{
  position: absolute;
  top: 55px;
  right: 5px;
}

#heroHP
{
  position: absolute;
  top: 80px;
  right: 5px;
}

#heroMP
{
  position: absolute;
  top: 105px;
  right: 5px;
}
